* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo-container img {
  width: 4rem;
  margin: 0.5rem;
}

main .hero-container {
  height: 75vh;
  width: 100%;
  background-image: url(./assets/images/headway-5QgIuuBxKwM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main .input-container {
  max-width: 65%;
  background:rgba(255, 255, 255, 0.25);
  padding: 24px 24px;
}

.registration-input-box {
  padding: 5px
}

.input-flex {
  flex-wrap: wrap;
}

.btn {
  min-width: 262.88px
}