/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo-container img {
  width: 4rem;
  margin: 0.5rem;
<<<<<<< HEAD
} */
=======
}

main .hero-container {
  height: 75vh;
  width: 100%;
  background-image: url(./assets/images/headway-5QgIuuBxKwM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
>>>>>>> d550bcc30ae3ee29775ba853760659a7f5d8ee67
