@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* HEADER e NAVBAR  */

@media (min-width: 768px) {
  .navbar-brand.abs
    {
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
} 

html, body{
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  top: 0;
  left: 0;
}

.navbar-toggler{
  background-color: lightblue;
}

button i {
  color: blue;
}
.navbar {
  align-items: center;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(34, 54, 69, .7);
  font-weight: 500;
}

a:hover {
  color: #e74c3c !important;
}

ul  {
  list-style-type: none;
}

.w-50 {
  width: 35%!important;
}

.nav-link{
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .logo-container img {
  width: 4rem;
  margin: 0.5rem;

} 

main .hero-container {
  height: 75vh;
  width: 100%;
  background-image: url(./assets/images/headway-5QgIuuBxKwM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} 
